certifi
charset-normalizer
contourpy
cycler
Deprecated
fonttools
idna
importlib-resources
jinja2
kaleido
kiwisolver
MarkupSafe
matplotlib>=3.8.0
numpy>=1.26.0
packaging
pandas>=2.1.0
pillow
plotly
prettyprint
publicsuffixlist
pymisp
pyparsing
python-dateutil
pytz
pyzmq
requests
rpds-py
six
tenacity
tzdata
urllib3
wrapt
zipp
zmq
