certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.1.1
cycler==0.12.1
Deprecated==1.2.14
fonttools==4.55.3
idna==3.7
importlib-resources==6.4.5
jinja2==3.1.4
kaleido==0.2.1
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.7.5
numpy==1.24.4
packaging==24.2
pandas==2.0.3
pillow==10.4.0
plotly==5.24.1
prettyprint==0.1.5
publicsuffixlist==1.0.1.20240702
pymisp==2.4.194
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
pyzmq==26.0.3
requests==2.32.3
rpds-py==0.19.0
six==1.16.0
tenacity==9.0.0
tzdata==2024.2
urllib3==2.2.2
wrapt==1.16.0
zipp==3.20.2
zmq==0.0.0