<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/favicon.png"> <!-- Add favicon -->
    <style>{{ css | safe }}</style>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <div class="date">{{ report_date }}</div>
    </header>
    <div class="logo-container">
        <img src="{{ logo }}" alt="Logo">
    </div>
    <div class="container">
        <div class="button-bar">
            <a href="misp_summary.html" class="summary">Summary</a>
            <a href="misp_curation.html" class="curation">Curation Overview</a>
            <a href="misp_infrastructure.html" class="infrastructure">Infrastructure Monitoring</a>
        </div>
        <p>Reporting period: Last <strong>{{ reporting_period }}</strong> {{ summary.period }}<br /></strong></p>
        <p>Published at {{ report_timestamp_hm }}</p>
    </div>

    <div class="container">
        <h1>Curation summary</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Curated</th>
                    <th>Not curated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Last 24h</td>
                    <td class="align-right">{{ curation_complete_today_count }}</td>
                    <td class="align-right">{{ curation_incomplete_today_count }}</td>
                </tr>                
                <tr>
                    <td>Last {{ reporting_period }}</td>
                    <td class="align-right">{{ curation_complete_count }}</td>
                    <td class="align-right">{{ curation_incomplete_count }}</td>
                </tr>
            </tbody>
        </table>

        <div class="charts">
            <div class="chart">
                <img src="{{ curated_events_bubble }}" alt="Bubble graph of curation results">
            </div>
        </div>

        <div class="tables">
            <table class="table">
                <thead>
                    <tr>
                        <th>Organisation</th>
                        <th>Curated events</th>
                    </tr>
                </thead>
                <tbody>
                    {% for org, value in curation_complete_org.items() %}
                    <tr>
                        <td>{{ org }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Organisation</th>
                        <th>Not curated events</th>
                    </tr>
                </thead>
                <tbody>
                    {% for org, value in curation_incomplete_org.items() %}
                    <tr>
                        <td>{{ org }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <h2>Events waiting for curation - Threat level high</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>                    
                    <th>Date</th>
                    <th>Organisation</th>
                    <th>Event title</th>
                    <th>Attributes</th>
                </tr>
            </thead>
            <tbody>
                {% for event in curation_incomplete_high %}
                <tr>
                    <td><a href="{{ report_misp_server }}/events/view/{{ event.id }}">{{ event.id }}</a></td>                    
                    <td>{{ event.date }}</td>
                    <td class="align-left">{{ event.org }}</td>
                    <td class="align-left">{{ event.info }}</td>
                    <td class="align-right">{{ event.indicators }}</td>               
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Events waiting for curation - Admiralty scale : Source Reliability: Completely reliable (A)</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>                    
                    <th>Date</th>
                    <th>Organisation</th>
                    <th>Event title</th>
                    <th>Attributes</th>
                </tr>
            </thead>
            <tbody>
                {% for event in curation_incomplete_adm_high %}
                <tr>
                    <td><a href="{{ report_misp_server }}/events/view/{{ event.id }}">{{ event.id }}</a></td>                    
                    <td>{{ event.date }}</td>
                    <td class="align-left">{{ event.org }}</td>
                    <td class="align-left">{{ event.info }}</td>
                    <td class="align-right">{{ event.indicators }}</td>               
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Events waiting for curation</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>                    
                    <th>Date</th>
                    <th>Organisation</th>
                    <th>Event title</th>
                    <th>Attributes</th>
                </tr>
            </thead>
            <tbody>
                {% for event in curation_incomplete %}
                <tr>
                    <td><a href="{{ report_misp_server }}/events/view/{{ event.id }}">{{ event.id }}</a></td>                    
                    <td>{{ event.date }}</td>
                    <td class="align-left">{{ event.org }}</td>
                    <td class="align-left">{{ event.info }}</td>
                    <td class="align-right">{{ event.indicators }}</td>               
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Curated events</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>                    
                    <th>Date</th>
                    <th>Organisation</th>
                    <th>Event title</th>
                    <th>Attributes</th>
                </tr>
            </thead>
            <tbody>
                {% for event in curation_complete %}
                <tr>
                    <td><a href="{{ report_misp_server }}/events/view/{{ event.id }}">{{ event.id }}</a></td>                    
                    <td>{{ event.date }}</td>
                    <td class="align-left">{{ event.org }}</td>
                    <td class="align-left">{{ event.info }}</td>
                    <td class="align-right">{{ event.indicators }}</td>               
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <footer>
        Source server: {{ report_misp_server }}<br />
        Timestamp {{ report_timestamp }}
    </footer>
</body>
</html>
