<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/favicon.png"> <!-- Add favicon -->
    <style>{{ css | safe }}</style>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <div class="date">{{ report_date }}</div>
    </header>
    <div class="logo-container">
        <img src="{{ logo }}" alt="Logo">
    </div>
    <div class="container">
        <div class="button-bar">
            <a href="misp_summary.html" class="summary">Summary</a>
            <a href="misp_curation.html" class="curation">Curation Overview</a>
            <a href="misp_infrastructure.html" class="infrastructure">Infrastructure Monitoring</a>
        </div>
        <h1>Curation summary</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Summary period</th>
                    <th>Curated</th>
                    <th>Not curated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Last 24h</td>
                    <td class="align-right">{{ curation_today_complete_count }}</td>
                    <td class="align-right">{{ curation_today_incomplete_count }}</td>
                </tr>                
                <tr>
                    <td>{{ summary.period }}</td>
                    <td class="align-right">{{ curation_complete_count }}</td>
                    <td class="align-right">{{ curation_incomplete_count }}</td>
                </tr>
            </tbody>
        </table>

        <div class="charts">
            <div class="chart">
                <img src="{{ curated_events_bubble }}" alt="Bubble graph of curation results">
            </div>
        </div>

        <div class="tables">
            <table class="table">
                <thead>
                    <tr>
                        <th>Organisation</th>
                        <th>Curated events</th>
                    </tr>
                </thead>
                <tbody>
                    {% for org, value in curation_complete_org.items() %}
                    <tr>
                        <td>{{ org }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Organisation</th>
                        <th>Not curated events</th>
                    </tr>
                </thead>
                <tbody>
                    {% for org, value in curation_incomplete_org.items() %}
                    <tr>
                        <td>{{ org }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Curated events</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>                    
                    <th>Date</th>
                    <th>Organisation</th>
                    <th>Info</th>
                    <th>Indicators</th>
                </tr>
            </thead>
            <tbody>
                {% for event in curation_complete %}
                <tr>
                    <td>{{ event.id }}</td>                    
                    <td>{{ event.date }}</td>
                    <td>{{ event.org }}</td>
                    <td>{{ event.info }}</td>
                    <td>{{ event.indicators }}</td>               
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Events waiting for curation</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>                    
                    <th>Date</th>
                    <th>Organisation</th>
                    <th>Info</th>
                    <th>Indicators</th>
                </tr>
            </thead>
            <tbody>
                {% for event in curation_incomplete %}
                <tr>
                    <td>{{ event.id }}</td>                    
                    <td>{{ event.date }}</td>
                    <td>{{ event.org }}</td>
                    <td>{{ event.info }}</td>
                    <td>{{ event.indicators }}</td>               
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        Source server: {{ report_misp_server }}<br />
        Timestamp {{ report_timestamp }}
    </footer>
</body>
</html>
