<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <style>{{ css | safe }}</style>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <div class="date">{{ report_date }}</div>
    </header>
    <div class="logo-container">
        <img src="{{ logo }}" alt="Logo">
    </div>
    <div class="container">
        <div class="button-bar">
            <a href="misp_summary.html" class="summary">Summary</a>
            <a href="misp_curation.html" class="curation">Curation Overview</a>
            <a href="misp_infrastructure.html" class="infrastructure">Infrastructure Monitoring</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Total events</th>
                    <th>Total attributes</th>
                    <th>Correlations</th>                    
                    <th>Users</th>
                    <th>Organisations</th>
                    <th>Local organisations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-right">{{ summary.events }}</td>
                    <td class="align-right">{{ summary.attributes }}</td>                    
                    <td class="align-right">{{ summary.correlations }}</td>
                    <td class="align-right">{{ summary.users }}</td>
                    <td class="align-right">{{ summary.organisations }}</td>
                    <td class="align-right">{{ summary.local_organisations }}</td>
                </tr>
            </tbody>
        </table>

        <p>Reporting period: Last <strong>{{ reporting_period }}</strong> {{ summary.period }}<br /></strong></p>
        <p>Published at {{ report_timestamp_hm }}</p>
    </div>

    <div class="container">
        <h1>Summary of {{reporting_filter_timestamp}} events</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Events (24h)</th>
                    <th>Attributes (24h)</th>
                    <th>Attr to_ids (24h)</th>
                    <th>Events ({{ reporting_period }})</th>
                    <th>Attributes ({{ reporting_period }})</th>
                    <th>Attr to_ids ({{ reporting_period }})</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-right"><strong>{{ summary.today_events }}</strong></td>
                    <td class="align-right"><strong>{{ summary.today_attributes }}</strong></td>
                    <td class="align-right"><strong>{{ summary.today_attributes_ids }}</strong></td>
                    <td class="align-right">{{ summary.period_events }}</td>
                    <td class="align-right">{{ summary.period_attributes }}</td>
                    <td class="align-right">{{ summary.period_attributes_ids }}</td>                    
                </tr>
            </tbody>
        </table>

        <h2>Trending events and attributes</h2>
        <div class="charts">
            <div class="chart">
                <img src="{{ events_trending_path }}" alt="Trending {{reporting_filter_timestamp}} events">
            </div>
            <div class="chart">
                <img src="{{ attributes_trending_path }}" alt="Trending attributes in {{reporting_filter_timestamp}} events">
            </div>
        </div>
        <div class="tables">
            <table class="table">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Events</th>
                    </tr>
                </thead>
                <tbody>
                    {% for month, value in trending_events.items() %}
                    <tr>
                        <td>{{ month }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Attributes</th>
                        <th>Attr to_ids</th>
                    </tr>
                </thead>
                <tbody>
                    {% for month, value in trending_attributes.items() %}
                    <tr>
                        <td>{{ month }}</td>
                        <td>{{ value[0] }}</td>
                        <td>{{ value[1] }}</td>            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="separator"></div>
        
        <h2>Attributes type distribution <span class="sub_h2">{{ attributes_with_ids_or_not}}</span></h2>
        <div class="charts">
            <div class="chart">
                <img src="{{ attributes_type_daily_bar_chart_path }}" alt="Attributes type distribution">
            </div>            
            <div class="chart">
                <img src="{{ attributes_type_bar_chart_path }}" alt="Attributes type distribution">
            </div>
        </div>        
        <table class="table">
            <thead>
                <tr>
                    <th>Attribute type</th>
                    <th>24h</th>
                    <th>{{ reporting_period }}</th>
                </tr>
            </thead>
            <tbody>
                {% for attr_type, count in attributes_type.items() %}
                <tr>
                    <td>{{ attr_type }}</td>
                    <td>{{ count[1] }}</td>
                    <td>{{ count[0] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Activity of key organisations</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Organisation</th>
                    <th>Events (24h)</th>
                    <th>Attributes (24h)</th>
                    <th>Attr to_ids (24h)</th>
                    <th>Events ({{ reporting_period }})</th>
                    <th>Attributes ({{ reporting_period }})</th>
                    <th>Attr to_ids ({{ reporting_period }})</th>
                </tr>
            </thead>
            <tbody>
                {% for org_name, org_data in keyorgs.items() %}
                <tr>
                    <td>
                        {% if org_data.logo %}
                        <img src="assets/{{ org_data.logo }}" alt="{{ org_name }}" style="height: 40px;">
                        {% endif %}
                    </td>
                    <td class="align-left"><a href="{{ report_misp_server }}/events/index/searchorg:{{ org_data['org_uuid'] }}" target="_blank">{{ org_name }}</a></td>
                    <td class="align-right">{{ org_data['today_events'] }}</td>
                    <td class="align-right">{{ org_data['today_attributes'] }}</td>
                    <td class="align-right">{{ org_data['today_attributes_ids'] }}</td>
                    <td class="align-right">{{ org_data['period_events'] }}</td>
                    <td class="align-right">{{ org_data['period_attributes'] }}</td>
                    <td class="align-right">{{ org_data['period_attributes_ids'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="separator"></div>

        <h2>Threat level and TLP of events ({{ reporting_period }})</h2>
        <div class="charts">
            <div class="chart">
                <img src="{{ threatlevel_bar_chart_path }}" alt="Threat level">
            </div>
            <div class="chart">
                <img src="{{ tlp_pie_chart_path }}" alt="TLP">
            </div>
        </div>
        <div class="tables">
            <table class="table">
                <thead>
                    <tr>
                        <th>Level</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for level, count in threatlevel.items() %}
                    <tr>
                        <td>{{ level }}</td>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>TLP</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tlp, count in tlp.items() %}
                    <tr>
                        <td>{{ tlp }}</td>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                    <tr><td colspan="2"><i>(tlp:white is translated to tlp:clear)</i></td></tr>
                </tbody>
            </table>
        </div>

        {% if print_event_details %}
        <h2>Event details</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>                    
                    <th>Date</th>
                    <th>Organisation</th>
                    <th>Distribution</th>
                    <th>Analysis</th>
                    <th>Threat Level</th>
                    <th>Published</th>
                    <th>TLP</th>
                    <th>Info</th>
                    <th>Indicators</th>
                </tr>
            </thead>
            <tbody>
                {% for event in detailed_events %}
                <tr>
                    <td>{{ event.id }}</td>                    
                    <td>{{ event.date }}</td>
                    <td>{{ event.org }}</td>
                    <td>{{ event.distribution }}</td>
                    <td>{{ event.analysis }}</td>
                    <td>{{ event.threat_level }}</td>
                    <td>{{ event.published }}</td>
                    <td>{{ event.tlp }}</td>
                    <td>{{ event.info }}</td>
                    <td>{{ event.indicators }}</td>               
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="container">
        <h2>Geo target information ({{ reporting_period }})</h2>
        <div class="chart">
            <img src="{{ geo_targeting_map_path }}" alt="Geo targeting map">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for country, count in target_geo.items() %}
                <tr>
                    <td class="align-left">{{ country }}</td>
                    <td class="align-right">{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Sector targeting ({{ reporting_period }})</h2>
        <div class="chart">
            <img src="{{ sector_targeting_bar_chart_path }}" alt="Sector targeting">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Sector</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for sector, count in target_sector.items() %}
                <tr>
                    <td class="align-left">{{ sector }}</td>
                    <td class="align-right">{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    

    <div class="container">
        <h2>TTPs ({{ reporting_period }})</h2>
        <div class="tables">
            <table class="table">
                <thead>
                    <tr>
                        <th>Actors</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for actor, count in ttp_actors.items() %}
                    <tr>
                        <td class="align-left">{{ actor }}</td>
                        <td class="align-right">{{ count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tables">
            <table class="table">
                <thead>
                    <tr>
                        <th>Patterns</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pattern, count in ttp_pattern.items() %}
                    <tr>
                        <td class="align-left">{{ pattern }}</td>
                        <td class="align-right">{{ count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>

    <div class="container">
        <h2>Vulnerabilities and weaknesses ({{ reporting_period }})</h2>
        <div class="tables">
            <table class="table">
                <thead>
                    <tr>
                        <th>Vulnerability</th>
                        <th>Summary</th>
                        <th>CVSSv3</th></h>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cve, detail in vulnerabilities.items() %}
                    <tr>
                        <td class="align-topleft"><a href="{{ vulnerability_lookup_url}}/{{ cve }}" target="_blank">{{ cve }}</a></td>
                        <td class="align-left">{{ detail.summary }}</td>
                        <td>{{ detail.cvss3 }}
                            {% if detail.cvss3 > cve_highlight %}
                                <span style="color: red; font-size: 1.2em;" title="Warning">&#9888;</span>
                            {% endif %}
                        </td>
                        <td class="align-right">{{ detail.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>

    <footer>
        Source server: {{ report_misp_server }}<br />
        Timestamp {{ report_timestamp }}
    </footer>
</body>
</html>
